# Flask stuff
instance/
.webassets-cache

# Compiled python files
__pycache__/
migrations/__pycache__/
migrations/versions/__pycache__/

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore MySQL dumps and personal data
backup.sql
*.db
my_data/
worklog.md
static/uploads/*
!static/uploads/.gitkeep

# Ignore .DS_Store
.DS_Store
