<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nail Polish Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>Nail Polish Collection</h1>
    <h2>UNDER CONSTRUCTION - I am using this page to test various features.</h2>
    <p><a href="{{ url_for('add_polish') }}">Add a New Polish Record</a> | <a href="{{ url_for('view_polishes') }}">All Polishes: Table View</a></p>
    <p><a href="{{ url_for('add_mani') }}">Add a New Manicure Record</a> | <a href="{{ url_for('view_mani_logs') }}">All Manis: Table View</a></p>
    <ol>
        {% for polish in polishes %}
            <li>{{ polish.brand.name }} - {{ polish.name }} ({{ polish.color_family }})</li>
        {% endfor %}
    </ol>
</body>
</html>