<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nail Polish Collection</title>
</head>
<body>
    <h1>Nail Polish Collection</h1>
    <h2>UNDER CONSTRUCTION - I am using this page to test various features.</h2>
    <p><a href="{{ url_for('add') }}">Add a New Polish</a></p>
    <p><a href="{{ url_for('view_polishes') }}">Table View</a></p>
    <ul>
        {% for polish in polishes %}
            <li>{{ polish.brand.name }} - {{ polish.name }} ({{ polish.color_family }})</li>
        {% endfor %}
    </ul>
</body>
</html>