<!-- templates/polishes.html -->
 <!DOCTYPE html>
 <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>All Polishes</title>
    </head>
    <body>
        <h1>All Polishes</h1>
        
        <p><a href="{{ url_for('index') }}">Back to Home</a></p>

        <table border="1" cellpadding="8">
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Color</th>
                <th>Description</th>
                <th>Tags</th>
            </tr>
            {% for polish in polishes %}
            <tr>
                <td>{{ polish.name }}</td>
                <td>{{ polish.brand.name if polish.brand else "-" }}</td>
                <td>{{ polish.color_family or "-" }}</td>
                <td>{{ polish.full_desc or "-" }}</td>
                <td>
                    {% for tag in polish.tag %}
                        <span class="tag-label">{{ tag.name }}</span>
                    {% else %}
                        <em>No tags</em>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <p><a href="{{ url_for('index') }}">Back to Home</a></p>
    </body>
 </html>